@{
    ViewData["Title"] = "My project";
}


<div>
    <h2>Welcome to my project overview page.</h2>
    <p>To view the source code of my projects, please follow this <a href="#">link</a></p>
    <p>On this page, you will find my completed project aswell has an overview of my current project.</p>
</div>