@{
    ViewData["Title"] = "End of shcool project";
}

<div>
    <h2>Welcome</h2>
    <p>On this page, you will be able to see the very first team project I was a part of.</p>
    <p>Please note that my main focus on this project was the backend, API and bug fix.</p>
    <p>The front-end is mainly credited to Rémi Laframboise and ...</p>
</div>

